body {
  background: #121212;
  color: #fff;
  font-family: sans-serif;
  padding: 20px;
}

.title {
  text-align: center;
  margin: 20px 0;
  color: #00ffff;
  font-size: 26px;
  text-shadow: 0 0 5px #00ffff;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
}

.card {
  background: #1e1e1e;
  border: 2px solid #00ffff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00ffff;
}

.card h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 8px;
}

.card p {
  color: #c0c0c0;
  margin-bottom: 12px;
  font-size: 16px;
}

.btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.icon-btn {
  padding: 10px;
  background: #00ffff;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  min-width: 90px;
  transition: 0.3s;
}

.icon-btn:hover {
  background: #00e0e0;
  transform: scale(1.1);
  box-shadow: 0 0 10px #00ffff;
}

/* مودال */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  background-color: #1e1e1e;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #00ffff;
  border-radius: 12px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #ffa500;
  float: left;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content h3 {
  color: #ffffff;
  font-size: 20px;
}

.modal-content p {
  color: #c0c0c0;
  font-size: 18px;
  margin-bottom: 15px;
}
