body {
  background: #000;
  color: #0f0;
  font-family: Tahoma;
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 25px;
}

.card {
  background: #0a0a0a;
  border: 1px solid #0f0;
  padding: 15px;
  border-radius: 10px;
}

.card input {
  width: 90%;
  padding: 7px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #0f0;
  background: #000;
  color: #0f0;
  text-align: center;
}

button {
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  background: #0f0;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #4f4;
}
